.safeinformation{
    padding: 20px 50px;
    width: calc(100vw - 300px); //fullwidth but account for the side nav

    & > section{
        display: flex;
        justify-content: space-between;
        align-items: center;

        &>div{
            display: flex;
            gap: 20px;
        }
    }
}